@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="align-items-center justify-content-center d-flex gap-2">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="ManageWords">Manage words</a>
    <a class="btn btn-danger" asp-area="Admin" asp-controller="Admin" asp-action="ManageLanguage">Manage languages</a>
</div>
